@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,900;1,600&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url('./aq6.PNG');
    background-size: cover;
    background-position: center cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    font-family: poppins;
    color: white;
    margin: 0;
}

h1 {
    font-weight: regular;
    font-size: 6rem;
    margin-top: -25rem;
    padding: 2px;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
    font-weight: bold;
}